<div class="container university">
    <div class="">
        <h2 style="text-align: center; padding-top: 30px;">Education</h2>
        <div class="row  row-content">
            
            <tabset class="member-tabset" #memberTabs style="color: rgb(4, 29, 8);">
                <tab  heading= 'Undergraduate'>
                    <div  class=" col-12" style="text-align: center; padding-top: 30px;">
                        <h5>BSc. in Computer Science and Engineering</h5>
                        <p>Dept. of Computer Science and Engineering</p>
                        <h5> <a href="https://www.ruet.ac.bd/">Rajshahi University of Engineering & Technology </a> </h5>
                        <h6>First Class 4th with honors. (CGPA - 3.86) </h6>
                        <p></p>
                    </div>
                </tab>

                <tab  heading= 'Post Graduate'>
                    <div  class=" col-12" style="text-align: center; padding-top: 30px;">
                        <h5>MSc. in Computer Science and Engineering <strong>(Ongoing)</strong></h5>
                        <p>Dept. of Computer Science and Engineering</p>
                        <h6> <a href="https://www.ruet.ac.bd/">Rajshahi University of Engineering & Technology </a> </h6>
                        <p></p>
                    </div>
                </tab>
 
                <tab  heading= 'College'>
                    <div  class=" col-12" style="text-align: center; padding-top: 30px;">
                        <h5> Higher Secondary School Certificate (H.S.C)</h5>
                        <p> Group : Science </p>
                        <h6> Bir Shrestha Noor Mohammad Public College </h6>
                        <h6> Dhaka, Bangladesh</h6>
                        <h6><strong>Result: Golden GPA-5.00 out of 5.00</strong></h6>
                    </div>
                </tab>

                <tab  heading= 'School'>
                    <div  class=" col-12" style="text-align: center; padding-top: 30px;">
                        <h5>Secondary School Certificate (S.S.C)</h5>
                        <p>Group: Science</p>
                        <h5> Dewanwechar Maddhamik Vidyalaya </h5>
                        <h6>Belabo, Narsingdi, Bangladesh</h6>
                        <h6><strong>Result: Golden GPA-5.00 out of 5.00</strong></h6>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
