.row-content{
  margin: 0px;
  padding: 0px 0px 0px 0px;
  min-height: 400px;
}
.university{
    /* The image used */
    background-color: rgb(0, 0, 0);
    

    /* Half height */
    height: auto;
    margin-top: 20px;
  
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a{
  color: brown;
  background-color: chartreuse;
}
.a:link{
  color: brown;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  color : #ff0000;
  background-color : rgb(252, 6, 6);
}
