<div class="container skill">
    <div class="">
        <h2 style="text-align: center; color: white;">Research</h2>
        <div >
            
            <tabset class="member-tabset" #memberTabs style="color: white;">

                <tab  heading= 'Interests'>
                    <div class="row  row-content align-items-center" style="margin: 50px;">
                        <div  class=" col-12" style="text-align: center; background: rgba(8, 7, 7,.5); padding: 50px;">
                            <h5>Machine learning, Text-classification, Neural Network</h5>
                            <h6> Data Science, Sentiment Analysis </h6>
                            <h6> Online deceptive review detection </h6>      
                        </div>
                        
                    </div>
           
                </tab>

                
                <tab  heading= 'Publication'>
                    <div class="row  row-content align-items-center" style="padding-top: 30px;">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>Title: Detection of fake online reviews using semi-supervised and supervised learning</h5>
                            <h6>Authors: Rakibul Hassan, Md. Rabiul Islam </h6>
                            <p>Type: Conference Paper</p>
                            <h6>Citation: 10 </h6>
                            <h6>Year: 2019</h6>
                            <h6>Conference: 2019 International Conference on Electrical, Computer and Communication Engineering (ECCE)</h6>
                            <h6>Publisher: IEEE</h6>
                            <h6><a href="https://ieeexplore.ieee.org/abstract/document/8679186">Publication Link</a></h6>
                           
                        </div>
                        <div class="col-12 col-md-7" style="background-color: cornsilk; color:rgb(20, 20, 19)">
                            <h6>Abstract</h6>
                            <p>
                                Online reviews have great impact on today's business and commerce. Decision making for purchase of online products mostly depends on reviews given by the users. Hence, opportunistic individuals or groups try to manipulate product reviews for their own interests. This paper introduces some semi-supervised and supervised text mining models to detect fake online reviews as well as compares the efficiency of both techniques on dataset containing hotel reviews.
                            </p>    
                        </div>   
                    </div>

                    <div class="row  row-content align-items-center" style="padding-top: 30px;">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>Title: Impact of Sentiment Analysis in Fake Online Review Detection</h5>
                            <h6>Authors: Rakibul Hassan, Md. Rabiul Islam </h6>
                            <p>Type: Conference Paper</p>
                            <h6>Citation: 0 </h6>
                            <h6>Year: 2021</h6>
                            <h6>Conference: 2021 International Conference on Information and Communication Technology for Sustainable Development (ICICT)4SD</h6>
                            <h6>Publisher: IEEE</h6>
                            <h6><a href="https://ieeexplore.ieee.org/abstract/document/9396899">Publication Link</a></h6>
                           
                        </div>
                        <div class="col-12 col-md-7" style="background-color: cornsilk; color:rgb(20, 20, 19)">
                            <h6>Abstract</h6>
                            <p>
                                Online business is one of the rapidly growing business sectors of current world. Now-a-days people purchase a lot of things from online shopping sites. Sales of online products are most often review driven. Thus, detecting deceptive reviews is getting more importance day by day. Sentiment analysis has great importance in fake review detection system. This paper introduces a sentiment analysis model that can separate positive and negative sentimental reviews efficiently. It shows an analysis of sentiment distribution for fake and truthful reviews. Also, the proposed sentiment model is used to find the impact of probabilistic sentiment score in fake online review detection using a hotel review dataset.
                            </p>    
                        </div>   
                    </div>

                    <div class="row  row-content align-items-center" style="padding-top: 30px;">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>Title:  Supervised Machine Learning Approach to Detect Fake Online Reviews</h5>
                            <h6>Authors: Rakibul Hassan, Md. Rabiul Islam </h6>
                            <p>Type: Conference Paper</p>
                            <h6>Citation: 0 </h6>
                            <h6>Year: 2020</h6>
                            <h6>Conference: 2020 23rd International Conference on Computer and Information Technology (ICCIT)</h6>
                            <h6>Publisher: IEEE</h6>
                            <h6><a href="https://ieeexplore.ieee.org/abstract/document/9392727">Publication Link</a></h6>
                           
                        </div>
                        <div class="col-12 col-md-7" style="background-color: cornsilk; color:rgb(20, 20, 19)">
                            <h6>Abstract</h6>
                            <p>
                                With increasing use of internet, online business platforms are becoming the largest market place of the world. Purchase of online product is heavily dependent on user reviews. Some dishonest groups of people misuse this fact by posting fake reviews to promote their own products or demote their competitors. Detection of fake online reviews can be considered as a binary classification task that models a classifier to tell whether a review is fake or true. In this paper, we have developed an effective supervised machine learning approach to classify fake online reviews using a dataset that contains hotel reviews from online websites.
                            </p>    
                        </div>   
                    </div>
                </tab>

            </tabset>
        </div>
    </div>
</div>
