.footer{
  margin-top: 30px;
  padding: 20px 0px 20px 0px;
  background-color: rgb(197, 226, 196);
}
.address{
  margin: 0px;
  font-size: 80%;
  color: rgb(233, 6, 6);
} 
.a{
    color: chartreuse;
}