<div class="container others">
    <div class="">
        <h2 style="text-align: center; color: rgb(34, 31, 31);">Other Activities</h2>
        <tabset  #memberTabs style="color: rgb(4, 29, 8); padding: 20px;">
            <tab  heading= 'NARS'>
                <div class="row  row-content align-items-center">
                    <div  class=" col-12 col-md-5 mt-4" style="text-align: center;">
                        <h2>Narsingdi Association of RUET Students (NARS)</h2>
                        <h4>Former Secretery</h4>
                        
                    </div>
                    <div class="col-12 col-md-7 mt-4" style="background-color: rgb(68, 50, 50); color:white">
                        <p class="d-none d-sm-block">During my student life, I was actively working on my District students welfare club
                            of my university. I was selected as the general secratery of the club duing my final year
                            of undergraduate.
                        </p>
                    </div>
                </div>
            </tab>

            <tab  heading= 'Sports'>
                <div class="row  row-content align-items-center">
                    <div  class=" col-12 col-md-4" style="text-align: center; background: rgba(235, 217, 217,.7);">
                        <ul>
                            <li><h6>I was a Regular member of RUET CSE Dept. Cricket Team. 
                                I have won many trophies on be half of RUET CSE Dept. 
                            </h6></li>

                            <li><h6>I am also a good badminton player.
                            </h6></li>
                        </ul>
                        
                    </div>
                    <div class="col-12 col-md-4">

                        <img src="../../assets/sports/trophy.png" width="100% " alt="trophy">
                    </div>

                    <div class="col-12 col-md-4" >

                        <img src="../../assets/sports/cric.png" width="100%" alt="trophy">
                    </div>
                </div>
            </tab>

            <tab  heading= 'Traveling'>
                <div class="row  row-content align-items-center">
                    <div  class=" col-12 col-md-4" style="text-align: center; background: rgba(235, 217, 217,.7);">
                        <ul>
                            <li><h6> Traveling is one of my favourite hobby. 
                            </h6></li>

                            <li><h6> I like testing food from different places. 
                            </h6></li>

                            <li><h6> I want to explore the world. 
                            </h6></li>

                        </ul>     
                    </div>
                    <div class="col-12 col-md-4">

                        <img src="../../assets/sports/travel_2.png" width="100% " alt="trophy">
                    </div>

                    <div class="col-12 col-md-4" >

                        <img src="../../assets/sports/travel_3.png" width="100%" alt="trophy">
                    </div>
                </div>
            </tab>

        </tabset>
    </div>
</div>