<div class="container skill">
    <div class="row">
        <h1 style="text-align: center;"> Programming </h1>
        <!-- Single Table -->
        <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
            <div class="single-table">
                <!-- Table Head -->
                <div class="table-head" style="text-align: center;">
                    <i class="fa fa-trophy"></i>
                    <h2 class="title">Awards</h2>
                </div>
                <!-- Table List -->
                <ul class="table-list">
                    <li><i class="fa fa-trophy"></i> Divisional Champion, UAP-NCPC 2016</li>
                    <li>
                        <i class="fa fa-trophy"></i> Runner Up, CSE Carnival 2017 – Varendra inter University programming
                        contest
                    </li>
                    <li><i class="fa fa-trophy"></i> Runner Up, RUET GYAN-JAM intra university programming Contest 2016</li>
                    <li>
                        <i class="fa fa-trophy"></i> Excellent Performance of the year  2016 from dept. of CSE, RUET
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
            <div class="single-table">
                <!-- Table Head -->
                <div class="table-head" style="text-align: center;">
                    <i class="fa fa-code"></i>
                    <h2 class="title">Problem Solving</h2>
                </div>
                <!-- Table List -->
                <ul class="table-list">
                    <li><i class="fa fa-code"></i> Participated in the ACM-ICPC dhaka regional in 2016 & 2017.</li>
                    <li>
                        <i class="fa fa-code"></i> Participated in the National Collegiate Programming Contest NCPC in 2015,2016 & 2017.
                        contest
                    </li>
                    <li><i class="fa fa-code"></i>  Solved 180+ Problems in <strong>Light OJ</strong>, User ID: 25217</li>
                    <li>
                        <i class="fa fa-code"></i>  
                        Solved 195+ Problems in <strong>Uva Online Judge</strong>, User ID: 597118
                    </li>

                    <li>
                        <i class="fa fa-code"></i>  
                        Participated in 45+ contests in <strong>Codeforces</strong>, Username: <strong>rakib_ruet_13</strong> , Max Rating: 1575
                    </li>

                </ul>
            </div>
        </div>
        
 



        <!-- End Single Table-->
        <!-- Single Table -->
        <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
            <div class="single-table">
                <!-- Table Head -->
                <div class="table-head" style="text-align: center;">
                    <i class="fa fa-desktop"></i>
                    <h2 class="title">Web Application Developer</h2>
                </div>
                <!-- Table List -->
                <ul class="table-list web-dev">
                    <li>
                        <i class="fa fa-newspaper-o"></i> HTML5, CSS, Boostrap, JavaScript, Jquery, TypeScript, Angular
                        
                    </li>
                    <li>
                        <i class="fa fa-file-code-o"> </i> C++, C#, ASP.NET Core, NodeJs, Python,
                        Visual Basic, PHP
                    </li>
                    <li><i class="fa fa-database"> </i> MySQL, PostgreSQL</li>
                    <li>
                        <i class="fa fa-cubes"></i> Software development with Agile methodology
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Single Table-->
    </div>
</div>