<div class="container others">
    <div class="">
        <h2 style="text-align: center; color: rgb(34, 31, 31);">Basic Information</h2>
        <tabset class="member-tabset" #memberTabs style="color: rgb(4, 29, 8);">

            <tab  heading= 'Contact Info'>
                <div class="row  row-content align-items-center">
                    <div  class=" col-12 col-md-12" style="text-align: center;">
                        <h6>Address : Dept. of ECE, RUET, Rajshahi</h6>
                        <h6>Phone: +8801846207019</h6>
                        <h6>Email: rakibul.hassan@ece.ruet.ac.bd</h6>
                        <h6>Gmail: ruet.rakib.cse13@gmail.com</h6>      
                        
                    </div>
                </div>
            </tab>

            <tab  heading= 'Personal Info'>
                <div class="row  row-content align-items-center" style="color:rgb(1, 26, 6)">
                    <div  class=" col-12 col-md-6" style="text-align: center;">
                        <h6>Name: Rakibul Hassan (Nick Name: Rakib)</h6>
                        <h6>Date of Birth: November 27, 1995</h6>
                        <h6>Maritial status: Married</h6>
                        <h6>Spouse Name: Bushra Bhuiyan Rifa</h6>      
                        
                    </div>
                    <div class="col-12 col-md-6">
                        <h6>Father: Sarwar Jahan</h6>
                        <h6>Mother: Nahin Sultana</h6>
                        <h6>Address: Kumartek-1640, Shibpur, Narsingdi, Bangladesh</h6> 
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>