<div class="container work">
   
    <div class="row align-items-center" style="text-align: left; color: rgb(17, 27, 2);">
        <h2 style="text-align: center; color: black;">Experiences</h2>
        <div class="col-12 col-md-4 p-2">
            <img src="assets/bg/ruet.png" style="max-height: 200px; max-width: 200px;"   class="card-img-top">
        </div>

        <div class="col-12 col-md-8 p-2" style="color: black;">
            <h5><strong> Letcurer</strong>, Department of Electrical & Computer Engineering (ECE)</h5>
            <h6>Rajshahi University of Engineering & Technology (RUET)</h6>
            <h6>Rajshahi - 6204, Bangladesh</h6>
            <h6>Duration : November, 2019 - Current</h6>
        </div>

        <div class="col-12 col-md-4 p-2 mt-2">
            <img src="assets/bg/enosis.png" style="max-height: 200px; max-width: 200px;"   class="card-img-top">
        </div>

        <div class="col-12 col-md-8 p-2">
            <h5><strong> Software Engineer</strong></h5>
            <h6>ENOSIS SOLUTIONS</h6>
            <h6>Dhaka-1207, Bangladesh</h6>
            <h6>Duration : December, 2018 - August-2019</h6>
        </div>
    </div>
</div>
