
.navbar-brand{
  color:rgb(255, 255, 255);
}

.nav-item{
  background-color: none;
}
.nav-item :hover{
  background-color: rgb(119, 95, 91);
}

.nav-link{
  padding-top: 20px;
  padding-bottom: 20px;
  font: bold;
  color: black;
}
.nav-link:hover{
  color:black;
}
.navbar-toggler{
  color: black;
}

.objective{
  /* The image used */
  background-image: url("../../assets/bg/bg_1.png");

  /* Half height */
  height: auto;
  color: rgb(77, 51, 3);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px
}