<nav class="navbar navbar-expand-sm fixed-top nav-fill w-100" 
    style=" background-color: rgba(231, 219, 217, 1); margin: 0; padding: 0;
    color: black;">

    <div class="container">      
        <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/images/toggler.png" height="50px">
        </button>

        <a href="#" class="navbar-brand mr-auto">Rakibul Hassan</a>
        <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item"><a class="nav-link" href="#academic">Academic</a></li>
                <li class="nav-item"><a class="nav-link" href="#experience">Experiences</a></li>
                <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="#programming">Programming</a></li>
                <li class="nav-item"><a class="nav-link" href="#research">Research</a></li>
                <li class="nav-item"><a class="nav-link" href="#others">Other Activities</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="jumbotron " style="margin-top: 50px;">
    <div class="container objective">
        <div class="row  align-items-center " style="min-height: 350px;">
            <div class="col-12 col-sm-9 order-sm-last">
                <h1>Career Objectives</h1>
                <p style="color: white;"> I am a young computer science engineer as well as a Lecturer at Department of Electrical and Computer Engineering(ECE), <strong>RUET</strong>. I am looking to develop my skills in various fields like <strong>Software development</strong>, Machine learning and Neural network research.
                </p>
            </div>
            <div class="col-12 col-sm-3 order-sm-first">
                <img src="assets/images/bg_profile.png" width="100%" alt="">
            </div>
        </div>
    </div>
</header>


<section id="academic">
    <app-academic></app-academic>
</section>

<section id="experience">
    <app-experience></app-experience>
</section>

<section id="skills">
    <app-skills></app-skills>
</section>

<section id="programming">
    <app-programming></app-programming>
</section>

<section id="research">
    <app-research></app-research>
</section>

<section id="others">
    <app-others></app-others>
</section>

<section id="about">
    <app-about></app-about>
</section>


