<div class="container skill">
    <div class="">
        <h2 style="text-align: center; color: rgb(29, 2, 2);">Skills</h2>
        <div >
            
            <tabset class="member-tabset" #memberTabs style="color: rgb(4, 29, 8);">
                <tab  heading= 'Projects'>
                    <div class="row  row-content align-items-center">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>ASP.Net Family Social App project</h5>
                            <p>Implements basic login-registration, real time chatting,
                                 filtering, pagination and responsiveness, image upload, 
                                 jwt-token authentication</p>
                            <h6> Fornt End: Angular </h6>
                            <h6> Database: Postgres </h6>
                           
                        </div>
                        <div class="col-12 col-md-7">
                            <h6> Link: <a href=" https://family-social-app.herokuapp.com/">Family Social App</a></h6>
                            <h6> For fast exploration - <br>(Username: user) (Password: User123)</h6>
                            <img src="assets/images/fsa.png" width="100%" height="auto" alt="Family social app">
                        </div>
                        
                    </div>
           
                </tab>

                <tab  heading= 'Certification'>
                    <div class="row  row-content align-items-center">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>Deep Learning Specialization</h5>
                            <p>Offered By - DeepLearning.AI</p>
                            <h6> Online platform : coursera.org </h6>
                            <h6><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/DYRERPGWMKXN">View Certificate</a></h6>
                           
                        </div>
                        <div class="col-12 col-md-7" style="background-color: cornsilk; color:rgb(20, 20, 19)">
                            <h6>About the course</h6>
                            <p>The Deep Learning Specialization is a foundational program that will help you understand the capabilities, challenges, and consequences of deep learning and prepare you to participate in the development of leading-edge AI technology. 

                                In this Specialization, you will build and train neural network architectures such as Convolutional Neural Networks, Recurrent Neural Networks, LSTMs, Transformers, and learn how to make them better with strategies such as Dropout, BatchNorm, Xavier/He initialization, and more. Get ready to master theoretical concepts and their industry applications using Python and TensorFlow and tackle real-world cases such as speech recognition, music synthesis, chatbots, machine translation, natural language processing, and more.</p>
                        </div>
                        
                    </div>

                    <div class="row  row-content align-items-center mt-4">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>Introduction to Data Science in Python</h5>
                            <p>Offered By - University of Michigan</p>
                            <h6> Online platform : coursera.org </h6>
                            <h6><a href="https://coursera.org/share/2e101cf3e914f504df4a6516159e95d0">View Certificate</a></h6>
                           
                        </div>
                        <div class="col-12 col-md-7" style="background-color: cornsilk; color:rgb(20, 20, 19)">
                            <h6>About the course</h6>
                            <p>This course will introduce the learner to the basics of the python programming environment, including fundamental python programming techniques such as lambdas, reading and manipulating csv files, and the numpy library. The course will introduce data manipulation and cleaning techniques using the popular python pandas data science library and introduce the abstraction of the Series and DataFrame as the central data structures for data analysis, along with tutorials on how to use functions such as groupby, merge, and pivot tables effectively. By the end of this course, students will be able to take tabular data, clean it, manipulate it, and run basic inferential statistical analyses. </p>
                        </div>                       
                    </div>

                    <div class="row  row-content align-items-center mt-4">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>Machine Learning Foundations: A Case Study Approach</h5>
                            <p>Offered By - University of Washington</p>
                            <h6> Online platform : coursera.org </h6>
                            <h6><a href="https://coursera.org/share/a170da39b3720c9acffe873af0ed56e7">View Certificate</a></h6>
                           
                        </div>
                        <div class="col-12 col-md-7" style="background-color: cornsilk; color:rgb(20, 20, 19)">
                            <h6>About the course</h6>
                            <p>In this course, you will get hands-on experience with machine learning from a series of practical case-studies.  At the end of the first course you will have studied how to predict house prices based on house-level features, analyze sentiment from user reviews, retrieve documents of interest, recommend products, and search for images.  Through hands-on practice with these use cases, you will be able to apply machine learning methods in a wide range of domains.</p>
                        </div>                       
                    </div>

                    <div class="row  row-content align-items-center mt-4">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>Machine Learning: Classification
                            </h5>
                            <p>Offered By - University of Washington</p>
                            <h6> Online platform : coursera.org </h6>
                            <h6><a href="https://coursera.org/share/39ffd7d0618490ac8b15bae5e4df303c">View Certificate</a></h6>
                           
                        </div>
                        <div class="col-12 col-md-7" style="background-color: cornsilk; color:rgb(20, 20, 19)">
                            <h6>About the course</h6>
                            <p>In our case study on analyzing sentiment, you will create models that predict a class (positive/negative sentiment) from input features (text of the reviews, user profile information,...).  In our second case study for this course, loan default prediction, you will tackle financial data, and predict when a loan is likely to be risky or safe for the bank. These tasks are an examples of classification, one of the most widely used areas of machine learning, with a broad array of applications, including ad targeting, spam detection, medical diagnosis and image classification. </p>
                        </div>                       
                    </div>

                    <div class="row  row-content align-items-center mt-4">
                        <div  class=" col-12 col-md-5" style="text-align: center;">
                            <h5>Machine Learning: Regression
                            </h5>
                            <p>Offered By - University of Washington</p>
                            <h6> Online platform : coursera.org </h6>
                            <h6><a href="https://coursera.org/share/6f45044898d15e0a8c0599bd60594c8b">View Certificate</a></h6>
                           
                        </div>
                        <div class="col-12 col-md-7" style="background-color: cornsilk; color:rgb(20, 20, 19)">
                            <h6>About the course</h6>
                            <p>In this course, you will explore regularized linear regression models for the task of prediction and feature selection.  You will be able to handle very large sets of features and select between models of various complexity.  You will also analyze the impact of aspects of your data -- such as outliers -- on your selected models and predictions.  To fit these models, you will implement optimization algorithms that scale to large datasets.</p>
                        </div>                       
                    </div>
           
                </tab>
            </tabset>
        </div>
    </div>
</div>
